* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}

#left-photo {
    width: 40vw;
    height: 100vh;
    position: static;
    left: 0px;
}

#shibuya-sky-view {
    width: 40vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    opacity: 95%;
}

#odinlogo {
    box-sizing: content-box;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 425px;
    padding: 0px calc(20vw - 50px);
    background-color: rgba(0, 0, 0, 0.508);
}

#right-content {
    width: 60vw;
    padding: 25px;
}

h1 {
    font-size: large;
    color: lightgrey;
    margin: 50px;
}

h2 {
    font-size: medium;
    color: lightgrey;
    margin: 50px;
}